@import url("../fonts/roboto.css");

body{
  font-family: "Roboto";
  color: #fff;
}
.flex{
  display: flex;
}
header{
  padding: 48px 0 44px;
  background-color: #00020e;
  background-image: radial-gradient(circle 1174px at 48.56% -367.98%, #0a3948 0%, #000410 100%);
}
.header .logotype{
  height: 55px;
  width: auto;
  margin-left: -10px;
}
.header .logandphone{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
}
.header .phones{
  color: #404f5a;
  font-size: 17px;
  font-weight: 400;
  line-height: 10.43px;
  padding-top: 10px;
}
.header .phones img{
  width: 17px;
}
.header .phones a{
  color: #404f5a;
}
.header .flexblock{
  display: flex;
  justify-content: space-between;
}
.header .sendcall{
  font-size: 17px;
  font-weight: bold;
  line-height: 15.66px;
  width: 153px;
  height: 54px;
  border-radius: 5px;
  border:none;
  background-color: #d2c1af;
  background-image: -webkit-linear-gradient(bottom, rgba(188, 129, 25, 0.57) 0%, rgba(253, 210, 149, 0.57) 100%);
  background-image: -o-linear-gradient(bottom, rgba(188, 129, 25, 0.57) 0%, rgba(253, 210, 149, 0.57) 100%);
  background-image: linear-gradient(to top, rgba(188, 129, 25, 0.57) 0%, rgba(253, 210, 149, 0.57) 100%);
}
.basket{
  height: 55px;
  cursor: pointer;
}

.menu-list{
  /* Style for "Линия Меню" */
  width: 100%;
  padding: 24px 0;
  background-color: #00020e;
  background-image: linear-gradient(to top, #000a19 0%, #011321 100%);
  margin-top: 49px;
}
.menu-list a{
  color: #d2c1af;
}
/*
.menu-list li::after{
  content:"";
  background: url("../img/line.png") no-repeat center center;
  display: block;
  height: 20px;
  width: 20px;
}
*/
/*
.menu-list li{
  border-right: 1px solid #d2c1af;
}
*/
.menu-list img{
  height: 45px;
}

.product{
  margin-top: 76px;
}
.product .product-icon{
  display: block;
  height: 85px;
  width: 85px;
}
.product h2{
  font-size: 29px;
  font-weight: bold;
  line-height: 11px;
  text-transform: uppercase;
  margin-bottom: 86px;
}
.product span{
  color: #d2c1af;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  line-height: 11px;
}
.product h3{
  font-size: 18px;
  margin-top: 13px;
  margin-bottom: 26px;
}
.product h4{
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 100px;
}
.product .buy{
  width: 163px;
  height: 54px;
  border-radius: 5px;
  background-color: #d2c1af;
  font-weight: bold;
  font-size: 18px;
  border: none;
  margin-right: 20px;
  background-image: -webkit-linear-gradient(bottom, rgba(188, 129, 25, 0.57) 0%, rgba(253, 210, 149, 0.57) 100%);
  background-image: -o-linear-gradient(bottom, rgba(188, 129, 25, 0.57) 0%, rgba(253, 210, 149, 0.57) 100%);
  background-image: linear-gradient(to top, rgba(188, 129, 25, 0.57) 0%, rgba(253, 210, 149, 0.57) 100%);
}
.product .buy-click{
  color: #404f5a;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 62.61px;
  text-decoration: underline;
}
.product .preferences{
  margin-top: 50px;
}
.product .preferences figcaption{
  color: #efd9b8;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.72px;
  text-align: center;
}
.product .preferences img{
  display: block;
  margin: 0 auto;
  height: 30px;
  width: auto;
  margin-bottom: 7px;
}
.product .white-block{
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  height: 310px;
  margin-top: 60px;
  margin-bottom: 48px;
  padding: 20px 0;
}
.product .white-block img{
  height: 240px;
  width: 2px;
  margin: 0 auto;
  display: block;
}
.product .white-block p{
  color: #02101a;
  font-size: 14px;
  font-weight: 400;
}

.feedback nav a{
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 14.52px;
  text-decoration: underline;
  text-transform: uppercase;
  padding:0 0 10px;
}
.feedback p{
  color: #dea55b;
  font-family: Roboto;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 14.47px;
  text-decoration: underline;
}
.feedback .consult{
  border: 2px dotted #fff;
  color:#fff;
  padding: 7px 25px 7px;
  font-size: 11px;
  font-weight: bold;
}
.feedback button{
  width: 173px;
  height: 54px;
  border-radius: 5px;
  background-color: #d2c1af;
  background-image: linear-gradient(to top, rgba(188, 129, 25, 0.57) 0%, rgba(253, 210, 149, 0.57) 100%);
  color: #000000;
  font-size: 17px;
  font-weight: bold;
  line-height: 17.66px;
  border:none;
}



.watches{
  padding: 40px 0 100px;
  background-image: url(../img/bg1.png);
  background-size: cover;
  /*background-color: #000;*/
}
.watches h3{
  text-align: center;
  font-size: 27px;
  font-weight: 400;
  line-height: 34.18px;
  text-transform: uppercase;
}
.watches img{
  display: block;
  width: 100%;
  margin-top: 63px;

}


.about{
  background-image: url(../img/bg3.png);
  background-size: cover;
  padding-bottom: 80px;
}
.about h3{
  font-size: 49px;
  font-weight: bold;
  line-height: 37.16px;
  text-transform: uppercase;
  text-align: center;
}
.about .brownline{
  width: 100%;
  margin-top: -60px;
}
.about p{
  font-size: 17px;
  font-weight: bold;
  line-height: 23.99px;
}
.about .mt30{
  margin-top: -30px;
}
.about .tar{
  text-align: right;
}

.about h5{
  font-size: 20px;
  font-weight: bold;
  line-height: 29.02px;
  border: 4px solid #ff9c00;
  padding: 22px 18px;
  text-align: center;
  display: block;
  margin: 20px auto 70px;
}
.about .orangeline{
  width: 34px;
  height: 4px;
  border-radius: 1px;
  background-color: #ff9c00;
}
.about h4{
  font-size: 16px;
  font-weight: bold;
  line-height: 23.99px;
  display: block;
  margin: 85px 0 0;
}
.about h4 b{
  font-weight: normal;
  color: #ff9c00;
}
.about h4 img{
  height: 87px;
}
.about .thomas{
  height: 100px;
}
.about button{
  font-size: 17px;
  font-weight: bold;
  line-height: 12.66px;
  width: 163px;
  height: 54px;
  border-radius: 5px;
  background-color: #d2c1af;
  border: none;
  margin: 20px;
  background-image: linear-gradient(to top, rgba(188, 129, 25, 0.57) 0%, rgba(253, 210, 149, 0.57) 100%);
}


footer{
  background-image: url(../img/bg3.png);
  background-size: cover;
  padding: 50px 0;
}
.subscribe p{
  font-size: 20px;
  font-weight: 500;
  line-height: 14.54px;
  margin-bottom: 0;
}
.subscribe img{
  height: 50px;
}
.subscribe input{
  width: 265px;
  height: 37px;
  padding-left:20px;
  box-shadow: inset 0 0 9px 1px rgba(90, 90, 90, 0.65);
  border-radius: 15px;
  background-color: #ffffff;
  border:none;
}
.subscribe button{
  width: 190px;
  height: 37px;
  border-radius: 15px;
  background-color: #cfa86b;
  border:none;
  font-size: 18px;
  font-weight: 500;
  line-height: 14.54px;
}
footer .longline{
  display: block;
  width: 100%;
  margin: 34px 0;
}
.footer .footlogo{
  height: 55px;
  margin-left: -50px;
}
.footer nav a{
  padding: 0;
}
.footer nav{
  margin-top: 25px;
}
.footer nav a{
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 14.52px;
  text-decoration: underline;
  text-transform: uppercase;
  padding:0 0 10px;
}
.footer .sponsors img{
  height: 50px;
}

footer .consult {
    border: 2px dotted #cfa86b;
    color: #fff;
    padding: 7px 25px 20px;
    font-size: 11px;
    font-weight: bold;
    margin-top: 40px;
}
